body
{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo
{
    width:80px;
    height: 80px;
    margin-top: 30px;
}

.container
{
  display: flex;
  min-height: 100vh;
}

.left-page
{
  flex:1 1 44.444%;
  margin:0 50px;

}

.left-page .display-image .image
{
  width: 100%;
}

.right-page
{
  flex:1 1 55.555%;
  padding:25px;
  background-color: rgb(114, 196, 235);
}

.right-page h1 
{
  color:rgb(114, 196, 235);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.right-content
{
    justify-content: center;
    text-align: center;
}

.right-content h3
{
    padding-top: 150px;
    font-size: 40px;
}

.form-container h2
{
  color:black;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.form-container label
{
    padding-bottom: 10px;
}

.form-container .form-group
{
  margin-bottom: 40px;
}


.form-container .form-group input
{
  display: block;
  width: 100%;
  padding: 12px 10px;
  font-size: 18px;
  border: 1px solid rgb(192, 190, 190);
}

.form-container .form-group .button
{
  display: inline-block;
  width: 100%;
  padding:12px 40px;
  background-color: rgb(114, 196, 235);
  color: white;
  font-size: 25px;
}


.form-container .signup a, .signup label
{
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

.form-container .signup a
{
  color:rgb(114, 196, 235);
}

.signup-container
{
    position: relative;
    margin: 5% auto;
    height: 700px;
    width:400px;
    background: #fff;
    box-shadow: 0 2px 14px 8px rgba(0, 0, 0, 0.6);
}

.signup-page
{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 40px;
    height:300px;
    width:400px;
    box-sizing: border-box;
}

.heading
{
  background: rgb(114, 196, 235);
  padding: 10px;
}

.add-new
{
    position: relative;
    margin: 10% auto;
    height: 550px;
    width:400px;
    background: #fff;
    box-shadow: 0 2px 14px 8px rgba(0, 0, 0, 0.6);
}

.divider {
	width:500px;
    text-align:center;
    margin-top:40px;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
}

.left {
	float:left;
}

.right {
	float:right;
}

.social {
    float: left;
    width: 50%;
    margin-left: 50px;
    padding: 0 50px;
    margin-top: 6px;
    justify-content: center;
    text-align: center;
  }

  input[type="text"], textarea
{
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  border: 1px solid rgb(209, 207, 207);
  padding-left:10px;

}

.country
{
    width:100%;
    height:45px;
    border: 1px solid rgb(209, 207, 207);
}

option
{
    color:black;
}

option:first-child
{
    color:rgb(209, 207, 207);
}

 .submit
{
    justify-content: center;
    text-align: center;
    

}

.form-container .form-group .submit-button
{
    width: 75%;
    margin-top: -50px;
}

.call
{
    text-align: center;
    margin-bottom:50px;
}
